<div
  fxLayout="column"
  class="project"
  (mouseover)="onMouseover()"
  (mouseleave)="onMouseleave()">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <div
      fxFlex="92"
      fxLayout="row"
      fxLayoutAlign="start center">
      <div
        class="app-button-2 project__title"
        [routerLink]="['/', 'dashboard', 'projects', project?.id]">
        {{ project.title }}
      </div>
      <div
        fxLayout="row"
        class="client"
        *ngIf="project?.client">
        <div
          class="client__name">
          {{ project?.client?.name }}
        </div>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutGap="10px">
      <span
        class="app-button-2">
        <mat-icon
          fxLayoutAlign="center center"
          class="project__icon"
          *ngIf="showIcons"
          [routerLink]="['', {outlets: {modal: ['projects', project.id ,'edit']}}]">
          mode_edit
        </mat-icon>
      </span>
      <span
        class="app-button-2">
        <mat-icon
          fxLayoutAlign="center center"
          class="project__icon"
          *ngIf="showIcons"
          (click)="onRemove()">
          delete
        </mat-icon>
      </span>
    </div>
  </div>
  <div
    class="project__tasks">
    {{ project?.taskCounter}} tasks in total
  </div>
</div>
