.top-bar {
  margin: 20px 40px 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  &__search {
    input {
      color: #444444;
      font-size: 18px;
      width: stretch;
      background: transparent;
      padding: 10px 10px 10px 10px;
      border: none;
      letter-spacing: 2px;
      &::placeholder {
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}
