<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="item"
  [ngClass]="{'darken': showIcons}"
  (mouseover)="onMouseenter()"
  (mouseleave)="onMouseleave()">

  <div
    fxFlex="49"
    class="title"
    contenteditable="true">
    {{ timeEntry.task?.title }}
  </div>

  <div
    *ngIf="timeEntry.project"
    fxFlex="15"
    fxLayoutAlign="end center"
    class="project">
    {{ timeEntry.project?.title }}
  </div>

  <div
    *ngIf="timeEntry.project"
    fxFlex="8"
    fxFlexLayoutAlign="start center"
    class="client">
    <div
      *ngIf="timeEntry.client"
      class="content">
      {{ timeEntry.client?.name }}
    </div>
  </div>

  <div
    *ngIf="!timeEntry.project"
    fxFlex="23"
    fxLayoutAlign="center center"
    class="add-project">
    <timer-select-project
      [displayText]="'Select Project'">
    </timer-select-project>
  </div>

  <div
    fxFlex="8">
    <div
      class="date">
      {{ timeEntry.startAt | date: 'yyyy/MM/dd' }}
    </div>
    <div
      class="time">
      {{ timeEntry.startAt | date: 'HH:mm:ss' }}
    </div>
  </div>

  <div
    fxFlex="8">
    <div
      class="date">
      {{ timeEntry.endAt | date: 'yyyy/MM/dd' }}
    </div>
    <div
      class="time">
      {{ timeEntry.endAt | date: 'HH:mm:ss' }}
    </div>
  </div>

  <div
    fxFlex="6"
    fxLayoutAlign="end center"
    class="duration">
    {{ duration }}
  </div>

  <div
    fxFlex="3"
    fxLayoutAlign="center center"
    class="continue">
    <mat-icon
      *ngIf="showIcons">
      play_arrow
    </mat-icon>
  </div>

  <div
    fxFlex="3"
    fxLayoutAlign="center center"
    class="remove">
    <mat-icon
      *ngIf="showIcons">
      delete
    </mat-icon>
  </div>
</div>
