<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10px"
  class="item">

  <div
    fxFlex="46">
    <timer-select-task
      [displayText]="'Describe what you have done'"
      [selectedTask]="timeEntry?.task"
      (selectTask)="handleSelectTask($event)">
    </timer-select-task>
  </div>

  <div
    fxFlex="3">
    <mat-icon
      *ngIf="timeEntry?.task?.title"
      [matTooltip]="'Unassign task'"
      (click)="handleUnassignTask()"
      fxLayoutAlign="center center"
      fxLayout="row"
      class="action-icon">
      clear
    </mat-icon>
  </div>

  <div
    fxFlex="23"
    fxLayoutAlign="center center"
    class="add-project">
    <timer-select-project
      *ngIf="timeEntry?.task"
      [selectedProject]="timeEntry?.task?.project"
      [displayText]="'Select Project'"
      (selectProject)="handleSelectProject($event)">
    </timer-select-project>
  </div>

  <div
    fxFlex="8"
    class="clickable"
    [owlDateTimeTrigger]="dtStartAt">
    <div
      class="date">
      {{ timeEntry.startAt | date: 'yyyy/MM/dd' }}
    </div>
    <div
      class="time">
      {{ timeEntry.startAt | date: 'HH:mm:ss' }}
    </div>
    <input
      hidden
      [value]="timeEntry.startAt"
      [owlDateTime]="dtStartAt"
      [max]="timeEntry.endAt"
      (dateTimeChange)="handleStartAtChange($event.value)">
    <owl-date-time
      #dtStartAt
      pickerMode="dialog"
      [showSecondsTimer]="true">
    </owl-date-time>
  </div>

  <div
    fxFlex="8"
    class="clickable"
    [owlDateTimeTrigger]="dtEndAt">
    <div
      class="date">
      {{ timeEntry.endAt | date: 'yyyy/MM/dd' }}
    </div>
    <div
      class="time">
      {{ timeEntry.endAt | date: 'HH:mm:ss' }}
    </div>
    <input
      hidden
      [value]="timeEntry.endAt"
      [min]="timeEntry.startAt"
      [owlDateTime]="dtEndAt"
      (dateTimeChange)="handleEndAtChange($event.value)">
    <owl-date-time
      #dtEndAt
      pickerMode="dialog"
      [showSecondsTimer]="true">
    </owl-date-time>
  </div>

  <div
    fxFlex="6"
    fxLayoutAlign="end center"
    class="duration">
    {{ duration }}
  </div>

  <div
    fxFlex="3"
    class="continue">
    <mat-icon
      *ngIf="!isCurrent"
      fxLayoutAlign="center center"
      class="action-icon"
      (click)="onContinue()">
      play_arrow
    </mat-icon>
  </div>

  <div
    fxFlex="3">
    <mat-icon
      fxLayoutAlign="center center"
      (click)="onRemoveTimeEntry()"
      class="action-icon">
      delete
    </mat-icon>
  </div>
</div>
