.darken {
  // background-color: #efefef;
}

.item {
  padding: 15px 20px 15px 20px;
}

mat-icon {
  cursor: pointer;
  font-size: 20px;
  color: #444444;
}

.project {
  color: #444444;
  padding: 0 10px 0 0;
  font-size: 15px;
  cursor: pointer;
}

.add-project {
  color: #555555;
  font-size: 14px;
}

.client {
  color: #444444;
  font-size: 13px;
  .content {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
  }
}

.date {
  font-size: 11px;
  color: #666666;
}

.time {
  font-size: 14px;
  color: #444444;
}

.duration {
  font-size: 15px;
  color: #444444;
}
