<timer-time-entries-list
  [timeEntries]="timeEntries$ | async"
  [isCurrent]="!!(currentTimeEntry$ | async)"
  [currency]="(currentUser$ | async)?.billingProfile?.currency"
  (updateTimeEntry)="handleUpdateTimeEntry($event)"
  (updateTask)="handleUpdateTask($event)"
  (removeTimeEntry)="handleRemoveTimeEntry($event)"
  (startTimeEntry)="handleStartTimeEntry($event)">
</timer-time-entries-list>
<div
  fxLayoutAlign="center center"
  style="padding-bottom: 20px; padding-top: 20px;">
  <mat-progress-spinner
    *ngIf="pending$ | async"
    color="warn"
    mode="indeterminate">
  </mat-progress-spinner>

  <div
    class="app-button-2"
    *ngIf="(total$ | async) > (timeEntries$ | async)?.length && !(pending$ | async)"
    (click)="handleLoadMore()">
    load more
  </div>
</div>
