<timer-time-entries-list
  [timeEntries]="timeEntries$ | async">
</timer-time-entries-list>
<div
  fxLayoutAlign="center center"
  style="padding-bottom: 20px; padding-top: 20px;">
  <mat-progress-spinner
    *ngIf="pending$ | async"
    color="warn"
    mode="indeterminate">
  </mat-progress-spinner>
  <button
    *ngIf="(total$ | async) > (timeEntries$ | async)?.length && !(pending$ | async)"
    mat-raised-button
    color="warn"
    class="app-button"
    (click)="handleLoadMore()">
    Load more
  </button>
</div>
