<div
  fxLayout="row"
  fxLayoutAlign="space-around end"
  class="main-navbar__menu">
  <div
    class="app-button-2"
    [routerLink]="['/', 'dashboard']"
    fxLayoutAlign="center center">
    <mat-icon>
      home
    </mat-icon>
    Home
  </div>
  <div
    class="app-button-2"
    [routerLink]="['/', 'dashboard', 'summaries']"
    fxLayoutAlign="center center">
    <mat-icon>
      show_chart
    </mat-icon>
    Summaries
  </div>
  <div
    class="app-button-2"
    [routerLink]="['/', 'dashboard', 'projects']"
    fxLayoutAlign="center center">
    <mat-icon>
      folder
    </mat-icon>
    Projects
  </div>
  <div
    class="app-button-2"
    [routerLink]="['/', 'dashboard', 'clients']"
    fxLayoutAlign="center center">
    <mat-icon>
      people
    </mat-icon>
    Clients
  </div>
  <div
    class="app-button-2"
    [routerLink]="['/', 'dashboard', 'settings']"
    fxLayoutAlign="center center">
    <mat-icon>
      settings
    </mat-icon>
    Settings
  </div>
  <div
    class="app-button-2"
    (click)="onLogOut()"
    fxLayoutAlign="center center">
    <mat-icon>
      exit_to_app
    </mat-icon>
    Log out
  </div>
</div>
