.main-navbar-menu {
  background: linear-gradient(to right, rgb(203, 45, 62), rgb(213, 65, 72));
  width: 100vw;
  padding: 5px 0 5px 0;
  color: #fefefe;
  font-size: 14px;
}

mat-icon {
  padding: 0 5px 0 0;
}

.item {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #fefefe;

  &:hover {
    color: #fefefe;
  }

  &:focus {
    outline: 0;
  }
}
