<timer-clients-top-bar
  (search)="handleSearchClients($event)">
</timer-clients-top-bar>
<timer-clients-list
  [clients]="clients$ | async"
  (removeClient)="handleRemoveClient($event)">
</timer-clients-list>
<div
  fxLayoutAlign="center center"
  style="padding-bottom: 20px; padding-top: 20px;">
  <mat-progress-spinner
    *ngIf="pending$ | async"
    color="warn"
    mode="indeterminate">
  </mat-progress-spinner>
  <button
    *ngIf="(total$ | async) > (clients$ | async)?.length && !(pending$ | async)"
    mat-raised-button
    color="warn"
    class="app-button"
    (click)="handleLoadMore()">
    Load more
  </button>
</div>
