.client {
  padding: 15px 30px 15px 30px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 20px 30px 0 30px;
}

.client-name {
  font-size: 17px;
}

.client-email {
  a {
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
    color: #666666;

    &:hover {
      color: #333333;
    }
  }
}

.dot {
  font-size: 8px;
  padding: 0 40px 0 40px;
  color: #444444;
}

.contact-person {
  font-size: 13px;
  font-weight: bold;
  color: #444444;
  padding: 0 20px 0 0;
}

.contact-name {
  font-size: 13px;
  color: #444444;
  padding: 0 20px 0 0;
}

.contact-email {
  a {
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
    color: #666666;

    &:hover {
      color: #333333;
    }
  }
}

.delete {
  color: #666666;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: #333333;
  }
}
