<div
  class="client"
  (mouseover)="onMouseover()"
  (mouseleave)="onMouseleave()">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <div
      fxFlex="92"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="30px"
      [routerLink]="['/', 'dashboard', 'clients', client?.id]">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="client__name">
        {{ client.name }}
        <mat-icon
          fxLayoutAlign="center center">
          email
        </mat-icon>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="client__contact-name"
        *ngIf="client?.contactPersonName">
        {{ client.contactPersonName }}
        <mat-icon
          fxLayoutAlign="center center">
          email
        </mat-icon>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutGap="10px">
      <span
        class="app-button-2">
        <mat-icon
          fxLayoutAlign="center center"
          class="client__icon"
          *ngIf="showIcons"
          [routerLink]="['', {outlets: {modal: ['clients', client.id ,'edit']}}]">
          mode_edit
        </mat-icon>
      </span>
      <span
        class="app-button-2">
        <mat-icon
          class="client__icon"
          fxLayoutAlign="center center"
          *ngIf="showIcons"
          (click)="onRemove()">
          delete
        </mat-icon>
      </span>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="center start"
    fxLayoutGap="10px"
    class="last-project">
    <div
      fxLayoutGap="10px"
      *ngIf="client?.lastProject">
      <span
        class="last-project__label">
        last project
      </span>
      <span
        class="last-project__title">
        {{ client?.lastProject?.title }}
      </span>
    </div>
    <div
      class="last-project__total">
      {{client?.projectsCounter}} projects in total
    </div>
  </div>
</div>
