<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="client">
  <div
    fxLayout="row"
    fxLayoutAlign="start center">
    <div
      class="client-name">
      {{ client.name }}
    </div>
    <div
      *ngIf="client?.email">
      <mat-icon
        fxLayoutAlign="center center"
        class="dot">
        fiber_manual_record
      </mat-icon>
    </div>
    <div
      *ngIf="client?.email"
      class="client-email">
      <a
        [href]="'mailto:' + client.email">
        {{ client.email }}
      </a>
    </div>
    <div
      *ngIf="client?.contactPersonName || client?.contactPersonEmail">
      <mat-icon
        fxLayoutAlign="center center"
        class="dot">
        fiber_manual_record
      </mat-icon>
    </div>
    <div
      *ngIf="client?.contactPersonName || client?.contactPersonEmail"
      fxLayout="row"
      fxLayoutAlign="start center">
      <div
        class="contact-person">
        Contact person:
      </div>
      <div
        class="contact-name">
        {{ client.contactPersonName }}
      </div>
      <div
        class="contact-email">
        <a
          [href]="'mailto:' + client.contactPersonEmail">
          {{ client.contactPersonEmail }}
        </a>
      </div>
    </div>
  </div>
  <mat-icon
    fxLayoutAlign="center center"
    class="delete"
    (click)="onRemove()">
    delete
  </mat-icon>
</div>
