<div
  fxLayout="column"
  fxLayoutAlign="center start"
  class="container">
  <div class="app-title">
    timer
  </div>
  <div
    class="form">
    <form
      [formGroup]="form">
      <div
        class="form__input">
        <input
          fxLayoutAlign="start center"
          placeholder="email"
          formControlName="email">
          <div
            *ngIf="form.get('email').hasError('required') && form.get('email').touched"
            class="form__error">
            This field is required.
          </div>
          <div
            *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email') && form.get('email').touched"
            class="error">
            Please provide valid email address.
        </div>
      </div>

      <div
        class="form__input">
        <input
          fxLayoutAlign="start center"
          placeholder="password"
          type="password"
          formControlName="password">
          <div
            *ngIf="form.get('password').hasError('required') && form.get('password').touched"
            class="error">
            This field is required.
          </div>
          <div
            *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength') && form.get('password').touched"
            class="form__error">
            Password is too short.
          </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="start end"
        class="form__actions">
        <button
          class="form__button"
          type="submit"
          [disabled]="!form.valid"
          (click)="onLogIn()">
          log in
        </button>
        <button
          class="form__button--secondary"
          [routerLink]="['/', 'users', 'sign_up']">
          don't have an account?
        </button>
      </div>
    </form>
  </div>
</div>
