<div
  fxFlex="35"
  fxLayout="column"
  fxLayoutAlign="center center">
  <form
    class="sign-in-form"
    [formGroup]="form">

    <div>
      <mat-form-field
        class="input">
        <input
          matInput
          placeholder="Email"
          formControlName="email">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field
        class="input">
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password">
      </mat-form-field>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="space-around center">
      <button
        mat-raised-button
        class="signin-button"
        color="warn"
        type="button"
        (click)="onLogIn()">
        &nbsp; Log in <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <div
        class="signup"
        [routerLink]="['/', 'users', 'sign_up']">
        Don't have account?
      </div>
    </div>
  </form>
</div>
<div
  fxFlex="65"
  fxLayout="column"
  fxLayoutAlign="center start"
  class="right-panel">
  <div class="bar">
    <div class="app-title">
      Timer
    </div>
    <div class="app-description">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
      qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.
    </div>
  </div>
</div>
