<mat-menu
  #clientsMenu="matMenu"
  [overlapTrigger]="false">
  <div
    class="form__input"
    fxLayout="row">
    <input
      (click)="$event.stopPropagation()"
      (input)="onInput($event.target.value)"
      placeholder="Search"
      type="text">
  </div>
  <div
    class="list">
    <div
      *ngFor="let client of clients"
      (click)="onChoice(client)"
      class="list__item">
      {{ client?.name }}
    </div>
  </div>
  <form
    [formGroup]="form"
      fxLayout="row"
      fxLayoutAlign="center center"
      class="form__input">
      <input
        type="text"
        placeholder="Create client"
        formControlName="name"
        (click)="$event.stopPropagation()"
        (keyup.enter)="onCreate()">
      <mat-icon
        (click)="onCreate()">
        person_add
      </mat-icon>
  </form>
</mat-menu>

<div
  [matMenuTriggerFor]="clientsMenu">
  <div
    *ngIf="!selected"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="5px"
    class="menu-trigger">
    <mat-icon>
      person
    </mat-icon>
    <div
      class="text">
      {{ text }}
    </div>
  </div>
  <div
    *ngIf="selected"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    class="menu-trigger client">
    <span>
      for:
    </span>
    <div
      class="client__name">
      {{ selected?.name }}
    </div>
  </div>
</div>
