<mat-menu
  #clientsMenu="matMenu">
  <div
    class="search"
    fxLayout="row">
    <input
      class="search-input"
      (click)="$event.stopPropagation()"
      (input)="onInput($event.target.value)"
      placeholder="Search"
      type="text">
  </div>
  <div
    class="items scrollbar"
    [perfectScrollbar]="config">
    <div
      *ngFor="let client of clients"
      (click)="onChoice(client)">
      <div
        class="item">
        <div
          class="client">
          {{ client?.name }}
        </div>
      </div>
    </div>
  </div>
  <form
    [formGroup]="form">
    <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="create-client">
    <input
      class="search-input"
      type="text"
      placeholder="Create client"
      formControlName="name"
      (click)="$event.stopPropagation()"
      (keyup.enter)="onCreate()">
    <mat-icon
      (click)="onCreate()">
      person_add
    </mat-icon>
    </div>
  </form>
  </mat-menu>

<div
  [matMenuTriggerFor]="clientsMenu"
  class="pointer">
  <div
    *ngIf="!selected"
    fxLayout="row"
    fxLayoutAlign="start center"
    class="menu-trigger">
    <mat-icon>
      person
    </mat-icon>
    <div
      class="text">
      {{ text }}
    </div>
  </div>
  <div
    *ngIf="selected"
    fxLayout="row"
    class="menu-trigger selected">
    <div
      class="content">
      {{ selected?.name }}
    </div>
  </div>
</div>
