.content {
  padding: 5px;
}

.field {
  padding: 5px 5px 10px 5px;
  width: 100%;
}

.label {
  padding: 0 0 5px 0;
}

.input {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  font-size: 15px;
  padding: 5px;
  width: stretch;
}

.description {
  min-height: 80px;
  max-height: 200px;
}

.select-client {
  padding: 5px;
  width: auto;
}

.footer {
  padding: 5px;
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.remove-client {
  font-size: 20px;
  color: #aaaaaa;
  cursor: pointer;

  &:hover {
    color: #444444;
  }
}
