<timer-modal>
  <div
    modal-header>
    Create project
  </div>
  <div
    modal-body>
    <div
      class="content">
      <form>
        <div
          fxLayout="column"
          fxLayoutAlign="center start"
          class="field">
          <div
            class="label">
            Title
          </div>
          <input
            class="input">
        </div>

        <div
          fxLayout="column"
          fxLayoutAlign="center start"
          class="field">
          <div
            class="label">
            Description
          </div>
          <textarea
            class="input description">
          </textarea>
        </div>

        <div
          fxLayoutAlign="end center"
          class="footer">
          <button
            mat-raised-button
            color="warn"
            class="button">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</timer-modal>
