<div>
  <form>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center">
      <input
        placeholder="Task title">

      <div>
        select project
      </div>

      <input placeholder="Price">
      <input placeholder="Currency">

      <div>
        {{ timeEntry.get('startAt').value || '0:00:00' }}
      </div>

      <div>
        {{ (toggled$ | async) | date: 'h:mm:ss' }}
      </div>

      <button
        (click)="startToggling()">
        START
      </button>
    </div>
  </form>
</div>
