<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="form">
  <div
    fxFlex="5"
    class="menu-icon">
    <mat-icon
      *ngIf="!showMenu"
      (click)="toggleMenu()">
      keyboard_arrow_down
    </mat-icon>
    <mat-icon
      *ngIf="showMenu"
      (click)="toggleMenu()">
      keyboard_arrow_up
    </mat-icon>
  </div>
  <div
    fxFlex="20"
    class="app-title">
    Timer
    <sup>
      <mat-icon
        class="app-icon">
        access_time
      </mat-icon>
    </sup>
  </div>
  <form
    fxFlex="75"
    fxLayout="row"
    fxLayoutAlign="end center"
    class="entry">

    <input
      fxFlex="60"
      placeholder="What are you coding?"
      class="item input task-title">

    <div
      class="item">

      <timer-select-project>
      </timer-select-project>
    </div>

    <input
    fxFlex="6"
      placeholder="Price"
      class="item input">

    <input
      fxFlex="3"
      placeholder="$"
      class="item input">

    <div
      class="item">
      {{ duration }}
    </div>

    <button
      *ngIf="!toggling"
      mat-mini-fab
      class="item green"
      type="button"
      (click)="startToggling()">
      <mat-icon>
        play_arrow
      </mat-icon>
    </button>
    <button
      *ngIf="toggling"
      mat-mini-fab
      class="item"
      color="warn"
      type="button"
      (click)="stopToggling()">
      <mat-icon>
        stop
      </mat-icon>
    </button>
  </form>
</div>
