<div
  fxLayout="row"
  fxLayoutAlign="start center"
  class="form-container"
  (mouseover)="onMouseover()"
  (mouseleave)="onMouseleave()">
  <form
    fxLayout="row"
    fxLayoutAlign="end center"
    class="form">
    <div
      fxFlex
      class="form__item">
      <timer-select-task
        [displayText]="'What are you coding?'"
        [selectedTask]="selectedTask"
        [navbar]="true"
        (selectTask)="onSelectTask($event)">
      </timer-select-task>
    </div>
    <div>
      <mat-icon
        fxLayoutAlign="center center"
        class="icon"
        *ngIf="currentTimeEntry?.task?.title && !tiny"
        [matTooltip]="'Unassign task'"
        (click)="handleUnassignTask()">
        clear
      </mat-icon>
    </div>
    <div
      class="form__item">
      <timer-select-project
        [selectedProject]="selectedTask?.project"
        [navbar]="true"
        (selectProject)="onSelectProject($event)">
      </timer-select-project>
    </div>
    <input
      fxFlex="6"
      placeholder="Price"
      class="form__item input"
      *ngIf="!tiny">
    <input
      fxFlex="3"
      placeholder="$"
      class="form__item input"
      *ngIf="!tiny">
    <div
      class="form__item duration">
      {{ duration }}
    </div>
    <div
      *ngIf="toggling && !tiny">
      <mat-icon
        fxLayoutAlign="center center"
        class="icon"
        (click)="onRemoveTimeEntry()">
        delete
      </mat-icon>
    </div>
    <div
      class="icon"
      *ngIf="!toggling"
      (click)="startToggling()">
      <mat-icon>
        play_arrow
      </mat-icon>
    </div>
    <div
      class="icon"
      *ngIf="toggling"
      (click)="stopToggling()">
      <mat-icon>
        stop
      </mat-icon>
    </div>
  </form>
</div>
