.form-container {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 15px 0 15px;
  color: #444444;
}

.form {
  width: 100%;
  &__item {
    margin: 0 15px 0 0;
  }
  .input {
    background: transparent;
    border: 0;
    padding: 5px;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 1px;
    &::placeholder {
      color: #777777;
    }
  }
}

.duration {
  cursor: default;
}

mat-icon {
  cursor: pointer;
}

// .menu-icon {
//   font-size: 20px;
//   padding: 0 0 0 10px;
// }

.icon {
  font-size: 16px;
  margin: 0 12px 0 -10px;
}

// .task-title {
//   font-size: 18px;
//   color: #fefefe;
// }
