<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="top-bar">
  <div
    fxFlex="25"
    class="top-bar__search">
    <input
      placeholder="search..."
      (input)="onSearch($event.target.value)">
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
    class="app-button-2"
    [routerLink]="['', {outlets: {modal: ['clients', 'create']}}]">
    <span>
      create client
    </span>
    <mat-icon>
      person_add
    </mat-icon>
  </div>
</div>
