.input {
  background: transparent;
  border: none;
  padding: 5px;
  width: 500px;
  color: #fefefe;
  letter-spacing: 1px;
  &::placeholder {
    color: #777781;
    font-size: 14px;
    font-weight: 300;
  }
}

.hint {
  padding: 0 0 0 12px;
  color: #777781;
  font-size: 11px;
}

.hint-navbar {
  padding: 4px 0 0 12px;
}

.title {
  font-weight: 600;
  color: #444448;
  padding: 7px 12px 7px 12px;
  font-size: 15px;
}

.title-navbar {
  background: #444448;
  font-weight: 400;
  font-size: 16px;
  color: #fefefe;
  width: stretch;
  padding: 7px 12px 7px 12px;
  &::placeholder {
    color: #eeeeee;
    font-size: 16px;
    font-weight: 300;
  }
}

::ng-deep .mat-autocomplete-panel {
  min-width: 600px !important;
  box-shadow: 0 5px 10px 0 rgba(200, 200, 200, 0.4) !important;
  background: #fcfcfc;
}

mat-option {
  line-height: 14px;
  height: 40px;
  &:hover {
    background: rgba(10, 10, 80, 0.02) !important;
  }
}

.item {
  font-size: 14px;
  padding: 5px 0 5px 0;
  .task {}
  mat-icon {
    padding: 0 10px 0 10px;
    color: #444448;
    margin: 0;
    font-size: 14px;
  }
  .project {
    color: #444448;
    padding: 0 10px 0 0;
  }
  .client {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    width: fit-content;
    line-height: 12px;
  }
}
