.input {
  background: transparent;
  border: none;
  padding: 5px;
  width: stretch;
  color: #fefefe;

  &::placeholder {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
  }
}

.title {
  font-weight: 600;
  color: #444444;
  padding: 7px 12px 7px 12px;
  font-size: 15px;
}

.title-navbar {
  font-weight: 400;
  font-size: 18px;
  color: #fefefe;
  padding: 7px 12px 7px 12px;

  &::placeholder {
    color: #eeeeee;
    font-size: 16px;
    font-weight: 300;
  }
}
