<ng-container
  *ngFor="let project of projects">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="40px"
    class="project">
    <div
      fxLayout="row"
      fxLayoutAlign="start center">
      <div
        class="app-button-2 project__title"
        [routerLink]="['/', 'dashboard', 'projects', project?.id]">
        {{ project.title }}
      </div>
      <div
        fxLayout="row"
        class="client"
        *ngIf="project?.client">
        <div
          class="client__name">
          {{ project?.client?.name }}
        </div>
      </div>
    </div>
    <div
      class="project__tracked">
      {{ getDuration(project.totalTracked, true) }} hours tracked
    </div>
  </div>
</ng-container>
