<timer-modal>
  <div
    modal-header>
    {{ headerText }} {{ project?.title }}
  </div>
  <div
    modal-body>
    <div>
      <form
        class="form"
        [formGroup]="form">
        <div
          fxLayout="column"
          class="form__input">
          <input
            placeholder="title"
            formControlName="title">
            <div
              *ngIf="form.get('title').hasError('required') && form.get('title').touched"
              class="form__error">
              title is required
            </div>
        </div>

        <div
          fxLayout="column"
          fxLayoutAlign="center start"
          class="form__textarea">
          <textarea
            class="description"
            placeholder="description"
            formControlName="description">
          </textarea>
        </div>

        <div
          class="">
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            class="client__select">
            <timer-select-client
              [displayText]="'Select client'"
              [selectedClient]="selectedClient"
              (newSelectedClient)="handleClientChange($event)">
            </timer-select-client>
            <mat-icon
              fxLayoutAlign="center center"
              class="client__remove"
              (click)="removeClient()"
              *ngIf="selectedClient">
              highlight_off
            </mat-icon>
          </div>
        </div>

        <div
          fxLayoutAlign="end center"
          class="form+_actions">
          <button
            class="form__button"
            [disabled]="!form.valid"
            (click)="onSubmit()">
            <span
              *ngIf="!project">
              Create
            </span>
            <span
              *ngIf="project">
              Update
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</timer-modal>
