<timer-modal>
  <div
    modal-header>
    {{ headerText }} {{ project?.title }}
  </div>
  <div
    modal-body>
    <div
      class="content">
      <form
        [formGroup]="form">
        <div
          fxLayout="column"
          fxLayoutAlign="center start"
          class="field form__input">
          <input
            class="input"
            placeholder="title"
            formControlName="title">
            <div
              *ngIf="form.controls.title.errors?.required && (form.controls.title.touched || form.controls.title.dirty)"
              class="form__error">
              Title is required
            </div>
        </div>

        <div
          fxLayout="column"
          fxLayoutAlign="center start"
          class="field">
          <div
            class="label">
            Description
          </div>
          <textarea
            class="input description"
            formControlName="description">
          </textarea>
        </div>

        <div
          class="field">
          <div
            class="label">
            Client
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="start center">
            <timer-select-client
              class="select-client"
              [displayText]="'Select client'"
              [selectedClient]="selectedClient"
              (newSelectedClient)="handleClientChange($event)">
            </timer-select-client>
            <mat-icon
              *ngIf="selectedClient"
              class="remove-client"
              (click)="removeClient()"
              fxLayoutAlign="center center">
              highlight_off
            </mat-icon>
          </div>
        </div>

        <div
          fxLayoutAlign="end center"
          class="footer">
          <button
            class="form__button"
            [disabled]="!form.valid"
            (click)="onSubmit()">
            <span
              *ngIf="!project">
              Create
            </span>
            <span
              *ngIf="project">
              Update
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</timer-modal>
