.form {
  &__header {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 15px;
    padding-top: 10px;
    color: #444448;
  }
  &__input {
    padding: 10px 0 0 0;
    height: 60px;
    width: 100%;
    input {
      background-color: #f8f8f9;
      padding: 10px;
      font-size: 14px;
      letter-spacing: 2px;
      color: #444448;
      border: none;
      width: 510px;
      &::placeholder {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #aaaaaa;
      }
    }
  }
  &__textarea {
    padding: 10px 0 0 0;
    textarea {
      background: #f8f8f9;
      color: #444448;
      font-family: inherit;
      letter-spacing: 2px;
      font-size: 14px;
      border: none;
      width: 510px;
      padding: 10px;
      min-height: 100px;
      resize: none;
      &:focus {
        outline: 0;
      }
      &::placeholder {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #aaaaaa;
      }
    }
  }
  &__error {
    font-size: 10px;
    color: #f33f3d;
    padding: 5px 0 0 1px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__button {
    background: transparent;
    padding: 0 0 0 0;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #444448;
    text-transform: uppercase;
    letter-spacing: 5px;
    &:focus {
      outline: 0;
    }
  }
  button:disabled {
    color: #bbb;
    cursor: default;
  }
  &__actions {
    padding: 5px 0 0 0;
  }
}
.client {
  &__remove {
    padding: 0 0 0 10px;
    font-size: 20px;
    color: #aaaaaa;
    cursor: pointer;
    &:hover {
      color: #444448;
    }
  }
  &__select {
    padding: 20px 0 0 0;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #444448;
  }
}
::ng-deep .menu-trigger {
  padding: 0 !important;
}
