.fit-page {
  width: stretch;
}

.main-navbar {
  position: fixed;
  top: 0;
  padding: 5px 15px 10px 0;
  background: #ffffff;
  width: 100%;
  z-index: 100;
  &__shadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }
  &__menu {
    padding: 0 15px 0 15px;
    font-size: 14px;
    width: 100%;
    mat-icon {
      padding: 0 5px 0 0;
    }
  }
}

.app-title {
  font-family: 'Playfair Display';
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 26px;
  color: #444448;
  padding: 0 0 0 40px;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.current-time-entry {
  width: 100%;
  padding: 45px 0 0 0;
}
