<div
  fxLayout="column"
  fxLayoutAlign="center start">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between end"
    class="main-navbar"
    [ngClass]="{'main-navbar__shadow': scrolled}">
    <div
      fxFlex="17"
      class="app-title"
      [routerLink]="['/', 'dashboard']">
      timer
    </div>
    <div
      fxFlex="83">
      <timer-main-navbar-menu
        *ngIf="!scrolled"
        (logOut)="handleLogOut()">
      </timer-main-navbar-menu>
      <timer-current-time-entry
        class="current-time-entry fit-page"
        *ngIf="scrolled"
        [tiny]="true"
        [getCurrent]="getCurrent"
        (menu)="handleMenu($event)">
      </timer-current-time-entry>
    </div>
  </div>
  <div
    class="current-time-entry">
    <timer-current-time-entry
      class="fit-page"
      *ngIf="!scrolled"
      [getCurrent]="getCurrent"
      (menu)="handleMenu($event)">
    </timer-current-time-entry>
  </div>
</div>
