.chart {
  position: relative;
  height: 300px;
  width: 100%;
}

.total-tracked {
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 25px 10px 15px 10px;
}
