<timer-modal>
  <div
    modal-header>
    <span
      *ngIf="!client">
      create client
    </span>
    <span
      *ngIf="client">
      editing - {{ client?.name }}
    </span>
  </div>
  <div
    modal-body>
    <div>
      <form
        class="form"
        [formGroup]="form">
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="5px"
          class="form__header">
          <mat-icon
            fxLayoutAlign="center center">
            account_balance
          </mat-icon>
          <span>
            company info
          </span>
        </div>

        <div>
          <div
            fxLayout="column"
            class="form__input">
            <input
              placeholder="name"
              formControlName="name">
            <div
              *ngIf="form.get('name').hasError('required') && form.get('name').touched"
              class="form__error">
              name is required
            </div>
          </div>

          <div
            fxLayout="column"
            class="form__input">
            <input
              placeholder="email"
              formControlName="email">
            <div
              *ngIf="form.get('email').hasError('email') && form.get('email').touched"
              class="form__error">
              provide valid email address
            </div>
          </div>
        </div>

        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="5px"
          class="form__header">
          <mat-icon
            fxLayoutAlign="center center">
            person
          </mat-icon>
          <span>
            contact person info
          </span>
        </div>

        <div>
          <div
            fxLayout="column"
            class="form__input">
            <input
              placeholder="name"
              formControlName="contactPersonName">
          </div>

          <div
            fxLayout="column"
            class="field form__input">
            <input
              placeholder="email"
              formControlName="contactPersonEmail">
              <div
                *ngIf="form.get('contactPersonEmail').hasError('email') && form.get('contactPersonEmail').touched"
                class="form__error">
                provide valid email address
              </div>
          </div>
        </div>

        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="form__checkbox"
          (click)="onAutoSend()">
          <div
            class="checkbox">
            <mat-icon
              class="checked">
              {{ autoSend ? 'done' : 'close' }}
            </mat-icon>
          </div>
          <span
            class="checkbox__text">
            autosend report at the end of month
          </span>
        </div>

        <div
          fxLayoutAlign="end center"
          class="form__actions">
          <button
            class="form__button"
            [disabled]="!formValid"
            (click)="onSubmit()">
            <span
              *ngIf="!client">
              create
            </span>
            <span
              *ngIf="client">
              update
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</timer-modal>
