<timer-modal>
  <div
    modal-header>
    <span
      *ngIf="!client">
      Create client
    </span>
    <span
      *ngIf="client">
      Editing - {{ client?.name }}
    </span>
  </div>
  <div
    modal-body>
    <div
      class="content">
      <form
        [formGroup]="form">
        <div
          fxLayout="row"
          fxLayoutAlign="start center">
          <mat-icon
            fxLayoutAlign="center center"
            class="info-icon">
            account_balance
          </mat-icon>
          Company info
        </div>

        <div
          class="deeper">
          <div
            fxLayout="column"
            fxLayoutAlign="center start"
            class="field">
            <div
              class="label">
              Name
            </div>
            <input
              class="input"
              formControlName="name">
            <div
              *ngIf="form.controls.name.errors?.required && (form.controls.name.touched || form.controls.name.dirty)"
              class="error">
              Name is required
            </div>
          </div>

          <div
            fxLayout="column"
            fxLayoutAlign="center start"
            class="field">
            <div
              class="label">
              Email
            </div>
            <input
              class="input"
              formControlName="email">
              <div
                *ngIf="form.controls.email.errors?.email && (form.controls.email.touched || form.controls.email.dirty)"
                class="error">
                Provide valid email address
              </div>
          </div>
        </div>

        <div
          fxLayout="row"
          fxLayoutAlign="start center">
          <mat-icon
            class="info-icon"
            fxLayoutAlign="center center">
            person
          </mat-icon>
          Contact person info
        </div>

        <div
          class="deeper">
          <div
            fxLayout="column"
            fxLayoutAlign="center start"
            class="field">
            <div
              class="label">
              Name
            </div>
            <input
              class="input"
              formControlName="contactPersonName">
          </div>

          <div
            fxLayout="column"
            fxLayoutAlign="center start"
            class="field">
            <div
              class="label">
              Email
            </div>
            <input
              class="input"
              formControlName="contactPersonEmail">
              <div
                *ngIf="form.controls.contactPersonEmail.errors?.email && (form.controls.contactPersonEmail.touched || form.controls.contactPersonEmail.dirty)"
                class="error">
                Provide valid email address
              </div>
          </div>
        </div>

        <div
          fxLayoutAlign="end center"
          class="footer">
          <button
            mat-raised-button
            color="warn"
            class="app-button"
            [disabled]="!formValid"
            (click)="onSubmit()">
            <span
              *ngIf="!client">
              Create
            </span>
            <span
              *ngIf="client">
              Update
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</timer-modal>
