.container {
  width: 100%;
}

.plate {
  padding: 15px 20px 15px 20px;
  margin: 30px 15px 0 15px;
}

.chart-bar-title {
  color: #444448;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.chart-bar {
  width: 100%;
  padding: 30px 10px 10px 10px;
}

.chart {
  width: 100%;
}
