<div
  fxLayout="row"
  fxLayoutAlign="center center">
  <div
    fxFlex="70"
    fxLayout="column"
    fxLayoutAlign="center start"
    class="plate">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="chart-bar">
      <div
        class="chart-bar-title">
        Overview
      </div>
      <div>
        <mat-menu
          #filtersMenu="matMenu">
          <button
            mat-menu-item>
            This week
          </button>
          <button
            mat-menu-item>
            This month
          </button>
          <button
            mat-menu-item>
            Last week
          </button>
          <button
            mat-menu-item>
            Last month
          </button>
        </mat-menu>

        <div
          fxLayout="row"
          fxLayourAlign="start center"
          class="filters-trigger"
          [matMenuTriggerFor]="filtersMenu">
           <span>
            Filters
           </span>
           <mat-icon>
             arrow_drop_down
           </mat-icon>
        </div>
      </div>
    </div>
    <timer-summary-chart
      fxFlex="90"
      class="chart"
      [chartData]="workload$ | async">
    </timer-summary-chart>
    <div
      class="chart-bar chart-bar-title">
      Last projects
    </div>
    <timer-summary-last-projects
      [projects]="lastProjects$ | async">
    </timer-summary-last-projects>
  </div>
</div>
