<div
  fxLayout="row"
  fxLayoutAlign="center center">
  <div
    fxFlex="90"
    fxLayout="column"
    fxLayoutAlign="center start"
    class="plate">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="chart-bar">
      <div
        class="chart-bar-title">
        overview
      </div>
      <div>
        <mat-menu
          #filtersMenu="matMenu">
          <div
            class="menu-item">
            This week
          </div>
          <div
            class="menu-item">
            This month
          </div>
          <div
            class="menu-item">
            Last week
          </div>
          <div
            class="menu-item">
            Last month
          </div>
        </mat-menu>

        <div
          fxLayout="row"
          fxLayourAlign="start center"
          class="app-button-2"
          [matMenuTriggerFor]="filtersMenu">
           <span>
            filters
           </span>
           <mat-icon>
             arrow_drop_down
           </mat-icon>
        </div>
      </div>
    </div>
    <timer-summary-chart
      fxFlex="90"
      class="chart"
      [chartData]="workload$ | async">
    </timer-summary-chart>
    <div
      class="chart-bar chart-bar-title">
      last projects
    </div>
    <timer-summary-last-projects
      class="fullwidth"
      [projects]="lastProjects$ | async">
    </timer-summary-last-projects>
  </div>
</div>
