.container {
  width: 100%;
}

.plate {
  padding: 15px 20px 15px 20px;
  background-color: #fefefe;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 30px 15px 0 15px;
}

.chart-bar-title {
  color: #444444;
  font-weight: 300;
  font-size: 26px;
}

.chart-bar {
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.chart {
  width: 100%;
}
