<div
  fxLayout="column"
  fxLayoutAlign="center start"
  class="plate">
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="chart-bar">
    <div
      class="text--title">
      overview
    </div>
    <div>
      <mat-menu
        #filtersMenu="matMenu"
        [overlapTrigger]="false">
        <div
          *ngFor="let option of menuOptions"
          class="menu-item"
          (click)="onSelectOption(option)">
          {{ option.name }}
        </div>
      </mat-menu>

      <div
        fxLayout="row"
        fxLayourAlign="start center"
        class="app-button-2"
        [matMenuTriggerFor]="filtersMenu">
          <span>
          {{ selectedOption ? selectedOption.name : 'filters' }}
          </span>
          <mat-icon>
            arrow_drop_down
          </mat-icon>
      </div>
    </div>
  </div>
  <timer-summary-chart
    fxFlex="90"
    class="chart"
    [chartData]="workload$ | async">
  </timer-summary-chart>
  <div
    class="chart-bar text--title">
    last projects
  </div>
  <timer-summary-last-projects
    class="fullwidth"
    [projects]="lastProjects$ | async">
  </timer-summary-last-projects>
</div>
