<mat-menu
  #projectsMenu="matMenu"
  [overlapTrigger]="false">
  <div
    class="form__input"
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <input
      (click)="$event.stopPropagation()"
      (input)="onInput($event.target.value)"
      placeholder="Search"
      type="text">
    <mat-icon
      fxLayoutAlign="center center"
      [routerLink]="['', {outlets: {modal: ['projects', 'create']}}]">
      create_new_folder
    </mat-icon>
  </div>
  <div
    class="list">
    <ng-container
      *ngFor="let project of projects">
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        class="list__item"
        (click)="onClick(project)">
        <div
          fxLayoutAlign="end center"
          class="project">
          {{ project?.title }}
        </div>
        <div
          *ngIf="project?.client"
          fxFlexLayoutAlign="start center"
          class="client">
          <div
            class="client__name">
            {{ project?.client?.name }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    class="list__item"
    (click)="onClick(undefined)">
    None
  </div>
</mat-menu>

<div
  [matMenuTriggerFor]="projectsMenu">
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
    class="menu-trigger menu-trigger__default"
    *ngIf="!selected"
    [ngClass]="{'menu-trigger--small': !navbar}">
    <mat-icon
      fxLayoutAlign="center center">
      folder
    </mat-icon>
    <span>
      {{ text }}
    </span>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="10px"
    class="menu-trigger"
    *ngIf="selected"
    [ngClass]="{'selected-navbar': navbar}">
    <div
      fxLayoutAlign="end center"
      class="project">
      {{ selected?.title | truncate: 22 }}
    </div>
    <div
      *ngIf="selected?.client"
      fxFlexLayoutAlign="start center"
      class="client">
      <div
        class="client__name">
        {{ selected?.client?.name | truncate:18 }}
      </div>
    </div>
  </div>
</div>
