.selected-navbar {
  text-transform: none;
  letter-spacing: 1px;
  .project {
    font-size: 16px;
    color: #444448;
  }
  .client {
    color: #fefefe;
    &__name {
      background: linear-gradient(to right, rgb(203, 45, 62), rgb(213, 65, 72));
    }
  }
}

.list {
  max-height: 200px;
  overflow-x: hidden;
  &__item {
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #444448;
    width: 250px;
    width: stretch;
    cursor: pointer;
    &:hover {
      background: #eeeeee;
    }
  }
}

.form {
  &__input {
    height: 40px;
    width: 100%;
    background-color: #f8f8f8;
    input {
      background-color: inherit;
      padding: 10px;
      font-size: 14px;
      letter-spacing: 2px;
      color: #444448;
      border: none;
      min-width: 200px;
      &::placeholder {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #aaaaaa;
      }
    }
    mat-icon {
      padding: 0 15px 0 0;
      color: #777781;
      cursor: pointer;
      &:hover {
        color: #444448;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}

.menu-trigger {
  font-size: 14px;
  cursor: pointer;
  text-transform: none;
  letter-spacing: 1px;
  &__default {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &--small {
    color: #777781;
    font-size: 13px;
    mat-icon {
      font-size: 20px;
    }
  }
}

.client {
  color: #444448;
  font-size: 12px;
  &__name {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
  }
}
