<mat-menu
  #projectsMenu="matMenu"
  [overlapTrigger]="false">
  <div
    class="search"
    fxLayout="row">
    <input
      class="search-input"
      (click)="$event.stopPropagation()"
      (input)="onInput($event.target.value)"
      placeholder="Search"
      type="text">
    <div
      class="create-project"
      fxLayoutAlign="center center">
      <mat-icon
        fxLayoutAlign="center center"
        [routerLink]="['', {outlets: {modal: ['projects', 'create']}}]">
        create_new_folder
      </mat-icon>
    </div>
  </div>
  <div
    *ngFor="let project of projects"
    (click)="onClick(project)">
    <div
      fxLayout="row"
      class="item">
      <div
        fxLayoutAlign="end center"
        class="project">
        {{ project?.title }}
      </div>
      <div
        *ngIf="project?.client"
        fxFlexLayoutAlign="start center"
        class="client">
        <div
          class="content">
          {{ project?.client?.name }}
        </div>
      </div>
    </div>
  </div>
  <div
    class="item none pointer"
    (click)="onClick(undefined)">
    None
  </div>
</mat-menu>

<div
  [matMenuTriggerFor]="projectsMenu"
  class="pointer">
  <div
    *ngIf="!selected"
    fxLayout="row"
    fxLayoutAlign="center center">
    <mat-icon>
      folder
    </mat-icon>
    <div
      class="text">
      {{ text }}
    </div>
  </div>
  <div
    *ngIf="selected"
    fxLayout="row"
    [ngClass]="{'selected-navbar': navbar}">
    <div
      fxLayoutAlign="end center"
      class="project">
      {{ selected?.title }}
    </div>
    <div
      *ngIf="selected?.client"
      fxFlexLayoutAlign="start center"
      class="client">
      <div
        class="content">
        {{ selected?.client?.name }}
      </div>
    </div>
  </div>
</div>
